doctype html

<h1> Version 0.1.1 </h1>



html(lang='en')
  body
    table.table.table-striped
      tr
        th Item name
        th Count

      each item in items
        tr
          td= item.displayName
          td= item.count
